<div class="wizard" id="wizard-demo">
	<h1>Faça Sua Manifestação!</h1>
	
	<div class="wizard-card" data-validate="verifyIfPoliticianSelected" data-cardname="politician">
	  <h3>Político</h3>
	
	  <div class="wizard-input-section">
	    <p>
	      Procure pelo seu político ou órgão responsável:
	    </p>
	    <div class="control-group">
	      <input id="politician-searcher" type="text" placeholder="Ex.: Presidente Brazuca [+ ENTER]" />
	    </div>
	    <div class="control-group" id="politician-result-container">
	      
	    </div>
	  </div>
	</div>
	
	
	<div class="wizard-card" data-cardname="discuss">
	  <h3>Manifesto</h3>

		<div class="wizard-input-section">
			<p>
				Tipo de manifesto
			</p>
			<div class="control-group">
				<select data-field="type" data-placeholder="Service List" style="width:350px;" class="chzn-select create-server-service-list">
			        <option value="1">Informação</option>
			        <option value="2">Denúncia</option>
			        <option value="3">Reclamação</option>
			        <option selected value="4">Sugestão</option>
			        <option value="5">Elogio</option>
			    </select>
			</div>
		</div>
		<div class="wizard-input-section">
	    <p>
	      Entitule o seu manifesto [<strong>facilita a identificação! ;-)</strong>]
	    </p>
		<div class="control-group">
	      <input type=text data-field="title" id="new-server-fqdn" placeholder="Ex.: criação de teatro" />
	    </div>
	  </div>
	  <div class="wizard-input-section">
	    <p>
	      Escreva, aqui, o seu manifesto
	    </p>
		<div class="control-group">
	      <textarea rows="10" id="new-server-fqdn" data-field="content" placeholder="Ex.: Acho que poderíamos criar um teatro na minha cidade." ></textarea>
	    </div>
	  </div>
	  <hr>
	  <h4>Informações Adicionais</h4>
	  <div class="wizard-input-section">
	    <p>
	      Adicione fotos, vídeos, áudios, etc
	    </p>
		<div class="control-group">
	      	<div class="upload-panel">
	    		<!-- The file upload form used as target for the file upload widget -->
	    		<form id="fileupload" class="upload-form" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
	        		<!-- Redirect browsers with JavaScript disabled to the origin page -->
	        		<noscript><input type="hidden" name="redirect" value="http://blueimp.github.com/jQuery-File-Upload/"></noscript>
	        		<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
	        		<div class="fileupload-buttonbar">
	            		<div class="span4">
	                		<!-- The fileinput-button span is used to style the file input field as button -->
	                		<span class="btn btn-success fileinput-button">
	                    		<i class="icon-plus icon-white"></i>
	                    		<span>Adicionar arquivos...</span>
	                    		<input type="file" name="files[]" multiple>
	                		</span>
	                		<button type="button" class="btn btn-danger delete ock-invisible">
	                    		<i class="icon-trash icon-white"></i>
	                    		<span>Remover</span>
	                		</button>
	                		<input type="checkbox" class="toggle ock-invisible">
	                		<!-- The loading indicator is shown during file processing -->
	                		<span class="fileupload-loading"></span>
	            		</div>
	            		<!-- The global progress information -->
	            		<div class="span4 fileupload-progress fade">
	                		<!-- The global progress bar -->
	                		<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
	                    		<div class="bar" style="width:0%;"></div>
	                		</div>
	                		<!-- The extended global progress information -->
	                		<div class="progress-extended">&nbsp;</div>
	            		</div>
	        		</div>
	        		<!-- The table listing the files available for upload/download -->
	        		<table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
	    		</form>
			</div>
			<!-- modal-gallery is the modal dialog used for the image gallery -->
			<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd" tabindex="-1">
			    <div class="modal-header">
			        <a class="close" data-dismiss="modal">&times;</a>
			        <h3 class="modal-title"></h3>
			    </div>
			    <div class="modal-body"><div class="modal-image"></div></div>
			    <div class="modal-footer">
			        <a class="btn modal-download" target="_blank">
			            <i class="icon-download"></i>
			            <span>Download</span>
			        </a>
			        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
			            <i class="icon-play icon-white"></i>
			            <span>Slideshow</span>
			        </a>
			        <a class="btn btn-info modal-prev">
			            <i class="icon-arrow-left icon-white"></i>
			            <span>Anterior</span>
			        </a>
			        <a class="btn btn-primary modal-next">
			            <span>Próximo</span>
			            <i class="icon-arrow-right icon-white"></i>
			        </a>
			    </div>
			</div>
			<!-- The template to display files available for upload -->
			<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            {% if (file.error) { %}
                <div><span class="label label-important">Erro</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <p class="size">{%=o.formatFileSize(file.size)%}</p>
            {% if (!o.files.error) { %}
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            {% } %}
        </td>
        <td>
            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancelar</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
			</script>
			<!-- The template to display files available for download --> 
			<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnail_url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </p>
            {% if (file.error) { %}
                <div><span class="label label-important">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            <button class="btn btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <i class="icon-trash icon-white"></i>
                <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle">
        </td>
    </tr>
{% } %}
			</script>
	    </div>
	  </div>
	  <div class="wizard-input-section">
	    <p>
	      Marque o local do manifesto:
	      <button class='btn btn-small pull-right' type='button' onClick='centralizeMapOnMyPosition("#map-canvas");'>centralize o mapa em onde estou!</button>
	    </p>
		<div class="control-group">
	      <div id="map-canvas" style="height: 200px; width: 100%;" />
	    </div>
	  </div>
	</div>

	<div class="wizard-card" data-validate="verifyIfUserAuthenticated" data-cardname="you" >
		<h3>Você</h3>
	</div>

	<div class="wizard-error">
	  <div class="alert alert-error">
	    Oooops! <strong>Ocorreu um problema</strong> com o seu manifesto.
	    Corrija e... vamos novamente!
	  </div>
	</div>
	
	<div class="wizard-failure">
	  <div class="alert alert-error">
	    Oooops! <strong>Ocorreu um problema</strong> ao submeter o seu manifesto.
	    Por favor, tente em um minutinho!
	  </div>
	</div>
	
	<div class="wizard-success">
	  <div class="alert alert-success">
	    <span class="create-server-name"></span>
	    O seu manifesto foi submetido com <strong>sucesso!</strong>&nbsp;:-)
	  </div>
	
	  <a class="btn btn-default create-another-server">Compartilhe este manifesto</a>
	  <span style="padding:0 10px">ou</span>
	  <a class="btn btn-default im-done">Visualize ele</a>
	</div>
</div>