<i class='checked-bar'>&nbsp;</i>
<span class="gallery-hover-6col hidden-phone hidden-tablet">
    <span class="gallery-icons">
        <a class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
        <a class="item-details-link"></a>
    </span>
</span>
<a><img src="/static/img/gallery/gallery-img-1-6col.jpg" alt="Gallery"></a>
<span class="project-details search-result-politician-details"><a class="search-result-politician-name" ><%= name %></a><%= state %></span>